// Place all the styles related to the Pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-inner > .item > img{
  height: 318px !important;
}
.cart{
  height: 50px;
  padding-top: 15px;
  min-width: 80px;
  text-align: center;
  text-decoration: none;
}
.cart:hover{
  text-decoration: underline;
}