<footer>
  <div class='container'>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h5>О нашем проекте</h5>
        <ul>
          <li><a href="#">О проекте</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Условия использования сайта</a></li>
          <li><a href="#">Сотрудничество</a></li>
          <li><a href="#">Помощь</a></li>
          <li><a href="#">Часто задаваемые вопросы</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>Популярные бренды</h5>
        <ul>
          <li><a href="#">Adidas</a></li>
          <li><a href="#">Dolce & Gabbana</a></li>
          <li><a href="#">Luis Vuitton</a></li>
          <li><a href="#">Giorgio Armani</a></li>
          <li><a href="#">Elisabetta Franchi</a></li>
          <li><a href="#">Roger Herbst</a></li>
          <li><a href="#">Boucheron</a></li>
          <li><a href="#">Lacoste</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>Популярные товары</h5>
        <ul>
          <li><a href="#">Джемпера</a></li>
          <li><a href="#">Кофты и рубашки</a></li>
          <li><a href="#">Женские сумочки</a></li>
          <li><a href="#">Карнавальные костюмы</a></li>
          <li><a href="#">Кеды и кроссовки</a></li>
          <li><a href="#">Куртки и плащи</a></li>
          <li><a href="#">Шорты и юбки</a></li>
          <li><a href="#">Нижнее белье</a></li>
          <li><a href="#">Свитеры</a></li>
          <li><a href="#">Аксессуары</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>Наши партнеры</h5>
        <ul>
          <li><a href="#">Магазин &#8220;Laboga&#8221;</a></li>
          <li><a href="#">Магазин &#8220;Armani Jeans&#8221;</a></li>
          <li><a href="#">Магазин &#8220;Lacosta Россия&#8221;</a></li>
          <li><a href="#">Магазин &#8220;Butik&#8221;</a></li>
        </ul>
        <div class="social-networks">
          <h5>Присоединяйтесь к нам в социальных сетях</h5>
          <a href="#" class="wow animated bounceIn" data-wow-delay="0.5s"><span class="icon-facebook"></span></a>
          <a href="#" class="wow animated bounceIn" data-wow-delay="0.65s"><span class="icon-rus-vk-01"></span></a>
          <a href="#" class="wow animated bounceIn" data-wow-delay="0.8s"><span class="icon-twitter-1"></span></a>
          <a href="#" class="wow animated bounceIn" data-wow-delay="0.95s"><span class="icon-odnoklassniki"></span></a>
          <a href="#" class="wow animated bounceIn" data-wow-delay="1.10s"><span class="icon-google__x2B_"></span></a>
        </div>
      </div>
    </div>
  </div>
</footer>