<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Services</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="admin">Admin</a>
            </li>
          </ul>
            <a href="/cart" class="cart pull-right">Корзина</a>

          <div class="container">
            <div class="col-md-4">
              <%= form_tag({controller: :products, action: 'search_suggestions'}, method: 'get', class: 'form-horizontal', id: 'header-search') do %>
                  <div class="form-group">
                    <div class="input-box">
                      <%= text_field_tag(:q, (params[:q].present? ? params[:q] : nil), class: 'form-control', placeholder: 'Поиск', autocomplete: 'off') %>
                      <i class="fa fa-search form-control-submit" aria-hidden="true" onclick="document.getElementById('header-search').submit();"></i>
                      <ul id="results">

                      </ul>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>

        </div>
        <!-- /.navbar-collapse -->
      </div>

      <!-- /.container -->
    </nav>
  </div>
</header>